.black {
	color: #000;
}

.full-height {
	height: 78%;
}

.img-semi-fluid {
	max-width: 100%;
	height: auto;
}

.modal-content {
	min-height: 1000px;
}

#profilIllu {
	max-width: 175px;
}

#impactIllu {
	max-width: 175px;
}
